
{% extends 'base.html.twig' %}

{% block title %}{{ 'label.accessdenied'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.accessdenied'|trans }}</h1>
    <p>{{ 'message.accessdenied'|trans }}</p>
{% endblock %}
